body, html{
    height: 100%;
}


* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

header {
    height: 12%;
    background-color: #1A70A2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8px;
    color: white;
}

header > * {
    flex: 1;
}

#logo {
    height: 10vh;
}

.logoHeader {
    display: flex;
    justify-content: flex-end;
}

a{

    text-decoration: none;
    color: white;
}

a:hover{
    color: rgb(223, 223, 223);
}

.options {
    height: 100%;
    display: flex;
    padding: 21px 16px;
    gap: 27px;
    align-items: flex-end;
    justify-content: center;
}

.headerSegundario {
    color: white;
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 16px;
}

#capivaraFoto img {
    height: 350px;
}

#capivaraFoto {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    bottom: 20px;
    right: 1px;
    z-index: 0;
}

div#footer {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}