body, html{
    height: 100%;
}


* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

header {
    height: 12%;
    background-color: #1A70A2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8px;
    color: white;
}

#logoHeader {
    height: 10vh;
}

#capivaraFoto img {
    height: 350px;
}

#capivaraFoto {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    bottom: 20px;
    right: 1px;
    z-index: 0;
}

div#footer {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}