*{
    font-family: 'Inter', sans-serif;
}

#formularioContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;
    margin-top: 96px;
    position: relative;
    z-index: 1;
}

#titulo h3 {
    margin: 32px;
    font-size: 32px;
    color: #1A70A2;
}

#formulario form {
    display: flex;
    gap: 8px;
    flex-direction: column;
    width: 100%;
}

#formulario {
    width: 30vw;
}

#foneContainer, #endereco {
    display: flex;
    gap: 16px;
    flex-direction: column;
} 

#emailCnpj, #foneContainer, #senhasForm, #nomeInput, .doubleContainer {
    display: flex;
    gap: 16px;
    flex-direction: row;
}

.formInput {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    min-height: 60px;
}

.formInput select {
    width: 100%;
    height: 25px;
    padding: 0 4px;
    border: none;
    background-color: #1a70a22e;
}

.formInput input {
    width: 100%;
    height: 25px;
    padding: 0 4px;
    border: none;
    background-color: #1a70a22e;
}

.formInput label {
    font-size: 14px;
    color: #1a70a2;
    display: flex;
    align-items: flex-end;
}

.formInput span{
    position: absolute;
    visibility: hidden;
    font-size: 12px;
  }

#endereco {
    display: grid;
    justify-items: stretch;
    align-items: start;
    grid-template-columns: 2fr 3fr 1fr;
}

#submmitContainer {
    margin-top: 8px;
    display: flex;
    justify-content: flex-end;
}

#submmitContainer button {
    padding: 8px;
    border: none;
    background-color: #1A70A2;
    color: white;
}

.formInput.error input{
    border-color: red;
    border-style: solid;
    border-width: 2px;
  }
  
  .formInput.error span{
    color: red;
    visibility: visible;
    position: initial;
  }

#btn{
    cursor: pointer;
}

#passTips {
    margin-left: 16px;
    font-size: 12px;
    color: #1a70a2;
}